body{
    background-color:grey;
}
.todo-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.AddButton {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

.Button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #dc3545; 
  color: white;
  cursor: pointer;
  margin-left: 20px;    
}
ol{
    padding: 0;
}
li{
    margin: 10px 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid grey;
    padding: 15px;
    display: flex;
    align-items: center;
}
.text{
    flex-grow: 1;
    margin-left: 10px;
}
.Type{
    font-weight: bold;
    margin-right: 10px;
    border: 2px solid black;
    padding:15px;
}